<h1 class="ui header">Dashboard of BlogApp</h1>

<h2 class="ui sub header">Recent Posts</h2>
<ul class="ui list">
  <% @recent_posts.each do |post| %>
    <li class="item">
      <%= link_to post.title, post %>
      <% if post.approved %>
        <p class="ui green text">This post has been approved</p>
     <% elsif !post.approved %>
        <p class="ui red text">This post has been rejected</p>
      <% else %>
        <p class="ui orange text">This post is currently under review</p>
      <% end %>
    </li>
  <% end %>
</ul>

<h2 class="ui sub header">Recent Comments</h2>
<ul class="ui list">
  <% @recent_comments.each do |comment| %>
    <li class="item">
      <%= "#{comment.user.email}" %> commented <%= "#{comment.content}" %> on <%= "#{comment.post.title}" %>
    </li>
  <% end %>
</ul>

<h2 class="ui sub header">Recent Likes</h2>
<ul class="ui list">
  <% @recent_likes.each do |like| %>
    <li class="item">
      <%= "#{like.user.email} liked #{like.post.title}" %>
    </li>
  <% end %>
</ul>

<div class="ui buttons">
  <%= link_to 'Create a New Post', new_post_path, class: "ui button" %>
  <%= link_to "View All Posts", posts_path, class: "ui button" %>
  <%= link_to 'Edit Account', edit_user_registration_path, class: "ui button" %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "ui button" %>
</div>
