<div class="ui segment">
  <%= form_with(model: [@post, @comment], local: true, class: "ui form") do |form| %>
    <% if @comment.errors.any? %>
      <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
          <%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:
        </div>
        <ul class="list">
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, placeholder: "Add a comment", class: "ui input" %>
    </div>

    <div class="field">
      <%= form.label :attachment %>
      <%= form.file_field :attachment, class: "ui input" %>
    </div>

    <div class="ui buttons">
      <%= form.submit "Submit Comment", class: "ui primary button" %>
    </div>
  <% end %>
</div>
