<h2>Comments</h2>

<%= render @post.comments %>

<h2>Add a comment</h2>

<%= form_with model: [ @post, @post.comments.build ] do |f| %> <%= f.label :name
%> <%= f.text_field :content %> <%= f.label :content %> <%= f.text_area :content %>
<%= f.submit %> <% end %>
