<p>
  <%= @comment.content %>
  <br>
  Commented by: <%= @comment.user.email %>
</p>

<% if current_user == @comment.user || current_user.admin? %>
  <% if @comment.reported? %>
    <% if current_user.moderator? %>
      <%= link_to 'Unreport', unreport_comment_path(@comment), method: :patch %>
    <% end %>
    <% end %>
  <% else %>
    <%= button_to 'Report', report_comment_path(@comment), method: :patch %>
<% end %>
    <%= button_to 'Report', report_comment_path(@comment), method: :patch %>
