<div class="ui container">
  <div class="ui grid" style="display: flex;">
    <div class="twelve wide column" style="padding-right: 0; display: flex; flex-direction: column;">
      <div class="ui card" style="width: 100%; flex: 1;">
        <div class="content">
          <h1 class="ui header">Title: <%= @post.title %></h1>
          <p><h3>Content:</h3> <%= @post.description %></p>
          <% if @post.attachment.present? %>
            <%= link_to 'Download Attachment', @post.attachment_url, class: "ui primary button" %>
          <% end %>
        </div>
        <div class="image">
          <%= image_tag "https://res.cloudinary.com/#{Cloudinary.config.cloud_name}/image/upload/#{@post.attachment}", class: "ui image" %>
          <%= image_tag AttachmentUploader.url(@post.attachment), class: "ui image" %>
        </div>

        <div class="extra content">
          <% if current_user.likes.where(likeable: @post).empty? %>
            <%= button_to 'Like', post_likes_path(@post), method: :post, class: "ui primary button" %>
          <% else %>
            <%= button_to 'Unlike', post_like_path(@post, like: @post.likes.find_by(user: current_user)), method: :delete, class: "ui secondary button" %>
            You liked this post!
          <% end %>
        </div>
      </div>
    </div>
    <div class="four wide column" style="padding-left: 20px; display: flex; flex-direction: column;">
      <div class="ui segment" style="flex: 1;">
        <h2 class="ui header">Comments</h2>
        <%= render 'comments/form', post: @post, comment: Comment.new %>
        <ul class="ui divided list">
          <% @post.comments.each do |comment| %>
            <% unless comment.reported? %>
                              <%= render 'comments/comment', comment: comment %>
            <% end %>
          <% end %>
        </ul>
      </div>
     <div class="ui segment" style="flex: 1;">
    <h2 class="ui header">Suggestions</h2>
    <%= form_with(model: [@post, Suggestion.new], local: true, class: "ui form") do |form| %>
      <div class="field">
        <%= form.text_area :content, placeholder: "Add a suggestion" %>
      </div>
      <div class="field">
        <%= form.submit "Submit Suggestion", class: "ui primary button" %>
      </div>
    <% end %>
    <% @post.suggestions.each do |suggestion| %>
      <div class="ui segment">
        <p><%= suggestion.content %> by <%= suggestion.user.email %></p>
        <% if suggestion.user == current_user %>
          <%= link_to 'Edit', edit_post_suggestion_path(@post, suggestion), class: "ui primary button" %> |
          <%= button_to 'Delete', post_suggestion_path(@post, suggestion), method: :delete, class: "ui secondary button" %>
        <% end %>
        <% if suggestion.replies.any? %>
          <% suggestion.replies.each do |reply| %>
            <%= reply.content %>
          <% end %>
        <% end %>
        <%= form_with(model: [@post, Suggestion.new(parent_id: suggestion.id)], local: true, class: "ui form") do |form| %>
          <%= form.text_area :content, placeholder: "Reply to this suggestion" %>
          <%= form.submit "Reply", class: "ui button" %>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="actions" style="margin-top: 20px;">
    <% if current_user == @post.user || current_user.admin? %>
      <%= link_to "Edit", edit_post_path(@post), class: "ui button" %>
      <%= link_to "Delete", post_path(@post), method: :delete, class: "ui button negative" %>
    <% end %>
    <%= link_to "Report", report_post_path(@post), class: "ui button" %>
  </div>
</div>
