<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<% if @post.attachment.present? %>
  <%= link_to 'Download Attachment', @post.attachment_url %>
<% end %>

<h2>Comments</h2>
<ul>
  <% @post.comments.each do |comment| %>
    <% if !comment.reported? %>
      <li>
        <%= comment.content %>
        <% if comment.id.present? %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
          <%= link_to 'Go To Report', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if current_user.comment_likes.exists?(comment: comment) %>
          <%= button_to "Unlike", unlike_comment_path(comment), method: :patch %>
        <% else %>
          <%= button_to "Like", like_comment_path(comment), method: :patch %>
        <% end %>
        <%= link_to 'Reply', new_post_comment_path(@post) %>
        <% if comment.children.any? %>
          <ul>
            <% comment.children.each do |child| %>
              <li>
                <%= child.content %>
                <% if child.id.present? %>
                  <%= link_to 'Edit', edit_post_comment_path(@post, child) %> |
                  <%= link_to 'Delete', post_comment_path(@post, child), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <% if current_user.comment_likes.exists?(comment: child) %>
                  <%= button_to "Unlike", unlike_comment_path(child), method: :patch %>
                <% else %>
                  <%= button_to "Like", like_comment_path(child), method: :patch %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>


<%= image_tag "https://res.cloudinary.com/#{Cloudinary.config.cloud_name}/image/upload/#{@post.attachment}" %>
<%= image_tag AttachmentUploader.url(@post.attachment) %>

<% if current_user.likes.where(post: @post).empty? %>
  <%= link_to 'Like', like_post_path(@post), method: :post %>
<% else %>
  <%= link_to 'Unlike', like_post_path(@post), method: :delete %>
  You liked this post!
<% end %>

<ul>
  <% @reported_posts.each do |post| %>
  <li>
    <%= post.title %>
    <% if post.reporter %>
      (reported by <%= post.reporter %>)
    <% else %>
      (no reporter)
    <% end %>
    <%= link_to 'View', post_path(post) %>
  </li>
<% end %>
</ul>

<%= render 'comments/form', post: @post, comment: Comment.new %>

</br>

<%= form_with(model: [@post, Suggestion.new], local: true) do |form| %>
  <%= form.text_area :content, placeholder: "Add a suggestion" %>
  <%= form.submit "Submit Suggestion" %>
<% end %>

<% @post.suggestions.each do |suggestion| %>
  <p><%= suggestion.content %> by <%= suggestion.user.email %></p>
  <% if suggestion.user == current_user %>
    <%= link_to 'Edit', edit_post_suggestion_path(@post, suggestion) %> |
    <%= button_to 'Delete', post_suggestion_path(@post, suggestion), method: :delete %>
  <% end %>
  <%= form_with(model: [@post, Suggestion.new], url: reply_post_suggestion_path(@post, suggestion), local: true) do |form| %>
    <%= form.text_area :content, placeholder: "Reply to this suggestion" %>
    <%= form.submit "Reply" %>
  <% end %>
<% end %>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %> |
  <%= button_to 'Report', report_post_path(@post), method: :patch %> |
  <%= button_to 'Delete', post_path(@post), method: :delete %>

</p>


