<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
  <body style = "padding: 2rem" >
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <nav class="ui menu">
      <% if user_signed_in? %>
        <div class="item">
          <span>Hello, <%= current_user.email %>! (<%= current_user.roles_name %>)</span>
        </div>
        <div class="item">
          <%= link_to 'Dashboard', dashboard_path %>
        </div>
        <% if current_user.has_role?(:admin) %>
          <div class="item">
            <%= link_to 'Admin Dashboard', rails_admin_path, class: 'ui button' %>
          </div>
        <% end %>
        <div class="item">
          <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'ui button' %>
        </div>
      <% else %>
        <div class="item">
          <%= button_to 'Log In', new_user_session_path, class: 'ui button' %>
        </div>
      <% end %>
    </nav>

    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>
  </body>
</html>
